<div class="rounded sponsors" id="section-sponsor">
    <div class="sponsor-action">
      <p>A maior conferência de Python da América Latina</p>

      <a href="/assets/pdfs/plano_de_patrocinio.pdf" target="_blank" class="button">
          quero patrocinar
      </a>
    </div>
    <div class="sponsor-section">
        {{#if sponsors.sponsors.title}}
            <h1>{{ sponsors.sponsors.title }}</h1>
        {{/if}}
        {{#each sponsors.sponsors.categories}}
            <div>
                <div class="signal {{type}}">
                    {{>pylogo }}
                    <div>{{type}}</div>
                </div>
                {{#each items}}
                    <div class="sponsor-entity">
                        <img src="{{photo}}" alt="{{name}}">
                    </div>
                {{/each}}
            </div>
        {{/each}}

        <div class="partners">
          <hr>
          {{#each sponsors.partners}}
            {{#if title}}
                <h2> {{ title }}</h2>
            {{/if}}
            {{#each items}}
                <div class="sponsor-entity">
                    <img src="{{photo}}" alt="{{name}}">
                </div>
            {{/each}}

          {{/each}}
        </div>


    </div>
</div>
